.alertMessage,
.alertErrorMessage {
  position: fixed;
  top: -50px; /* 애니메이션 시작 위치를 상단 밖으로 설정 */
  left: 50%;
  transform: translateX(-50%);
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  opacity: 0;
  z-index: 2000;
  width: auto;
  text-align: center;
}

.alertMessage.show,
.alertErrorMessage.show {
  opacity: 1;
  animation: slideDown 0.5s ease-in-out forwards;
}

.alertMessage {
  background-color: #98a679;
}

.alertErrorMessage {
  background-color: #d62121;
}

@keyframes slideDown {
  0% {
    top: -50px; /* 애니메이션 시작 위치 */
  }
  100% {
    top: 70px; /* 애니메이션 끝 위치 */
  }
}

/* 모바일 대응 */
@media (max-width: 768px) {
  .alertMessage,
  .alertErrorMessage {
    top: 0;
    left: 0;
    transform: none;
    width: 100%;
    text-align: center;
  }

  @keyframes slideDown {
    0% {
      top: -50px;
    }
    100% {
      top: 0; /* 모바일에서는 최상단에 고정 */
    }
  }
}
