.alertMessage,
.alertErrorMessage {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  opacity: 0;
  z-index: 1003;
}

.alertMessage.show,
.alertErrorMessage.show {
  opacity: 1;
  animation: slideDown 0.5s ease-in-out forwards;
}

.alertMessage {
  background-color: #98a679;
}

.alertErrorMessage {
  background-color: #d62121;
}

@keyframes slideDown {
  0% {
    top: 0;
  }
  100% {
    top: 70px;
  }
}

/* 모바일 버전 */
@media (max-width: 768px) {
  .alertMessage,
  .alertErrorMessage {
    width: 90%;
    left: 5%;
    transform: translateX(0);
    top: 10px;
  }

  @keyframes slideDown {
    0% {
      top: 10px;
    }
    100% {
      top: 80px;
    }
  }
}
