.header_section {
  width: 100%;
  min-height: 50px;
  background-color: #c6d1ae;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  color: white;
  font-weight: bold;
}

.chat_container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  overflow-y: hidden;
}

.messages_section {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
  overflow: auto;
  scrollbar-width: none;
}

.messages_section::-webkit-scrollbar {
  display: none;
}

.message {
  padding: 10px 15px;
  margin-bottom: 30px;
  border-radius: 18px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 60%;
  word-break: break-word;
  position: relative;
  display: flex;
  flex-direction: column;
}

.message.right {
  background-color: #c6d1ae;
  align-self: flex-end;
  text-align: left;
  border-bottom-right-radius: 0;
  margin-left: auto;
}

.message.left {
  background-color: #eaf2d8;
  align-self: flex-start;
  text-align: left;
  border-bottom-left-radius: 0;
  margin-right: auto;
}

.timestamp {
  font-size: 0.75rem;
  color: #888;
  position: absolute;
  bottom: -20px;
  right: 10px;
}

.input_section {
  display: flex;
  align-items: center;
  padding: 10px;
}

.input {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 4px;
  margin-right: 10px;
  height: 50px;
}

.send_button {
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  background-color: #c6d1ae;
  color: white;
  cursor: pointer;
  width: 8rem;
  height: 45px;
}

.send_button:hover {
  background-color: #aab689;
}
