.header_section {
  width: 100%;
  min-height: 50px;
  background-color: #c6d1ae;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.title {
  color: white;
  font-weight: bold;
}

.chat_container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  overflow-y: hidden;
}

.messages_section {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
  overflow: auto;
  scrollbar-width: none;
}

.messages_section::-webkit-scrollbar {
  display: none;
}

.message {
  padding: 10px 15px;
  margin-bottom: 30px;
  border-radius: 18px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 60%;
  word-break: break-word;
  position: relative;
  display: flex;
  flex-direction: column;
}

.message.right {
  background-color: #c6d1ae;
  align-self: flex-end;
  text-align: left;
  border-bottom-right-radius: 0;
  margin-left: auto;
}

.message.left {
  background-color: #eaf2d8;
  align-self: flex-start;
  text-align: left;
  border-bottom-left-radius: 0;
  margin-right: auto;
}

.timestamp {
  font-size: 0.75rem;
  color: #888;
  position: absolute;
  bottom: -20px;
  right: 10px;
}

.input_section {
  display: flex;
  align-items: center;
  padding: 10px;
}

.input {
  flex: 1;
  padding: 0.5rem 1rem;
  border: 1px solid #e0e0e0;
  background-color: #ffffff;
  border-radius: 1rem;
  margin: 0.75rem;
}

.send_button {
  border: none;
  background-color: #c6d1ae;
  cursor: pointer;
  width: 5rem;
  height: 45px;
  white-space: nowrap;

  padding: 0.5rem 0;
  color: white;
  border-radius: 1rem;
}
@media (max-width: 600px) {
  .input_section {
    padding: 5px;
  }

  .input {
    padding: 0.4rem 0.8rem;
    margin: 0.5rem;
    font-size: 0.9rem;
  }
  .send_button {
    width: 4rem;
    height: 40px;
    font-size: 0.8rem;
  }
}
.send_button:hover {
  background-color: #aab689;
}
.back_button {
  position: absolute;
  left: 18px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  padding: 8px;
}
.back_button:hover {
  opacity: 0.8;
}
