.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
  color: #333;
  background-color: #fff;
  text-align: center;
}

.header {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  text-align: center;
}

.signupStep {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}

.image {
  width: 70%;
  max-width: 50px;
  margin-bottom: 1rem;
}

.description {
  text-align: center;
  font-size: 1.4rem;
  line-height: 1.5;
}

@media (max-width: 768px) {
  .image {
    width: 100%;
    max-width: 500px;
  }
}
