.sidebar {
  width: 10rem;
  height: 100%;
  background-color: #f7f6f0;
  position: fixed;
  top: 0;
  left: -10rem;
  transition: left 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1001;
}

.sidebar.active {
  left: 0;
}
.sidebarContent {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin-top: 4rem;
  gap: 2.4rem;
}

.icon {
  font-size: 1.2rem;
  display: flex;
}

.hamburger {
  display: flex;
  position: fixed;
  top: 1rem;
  left: 1rem;
  z-index: 1002;
  cursor: pointer;
  flex-direction: column;
  justify-content: space-between;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1000;
}
